.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 400px;
  padding-bottom: 40px;
  padding-top: 25px;
  background-color: #ffffff;
  border-radius: 4px;
}

.logHoursInputContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.logHoursInputWrapper {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.inputField {
  height: 25px;
  width: 125px;
}

.logHoursBtnContainer {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  width: 780px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkAllowanceBody {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allowanceBtnContainer {
  display: flex;
  flex-direction: column;
  height: 55px;
  justify-content: space-between;
}